* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #353333;
    color: #f0f0f0;
}

#control1 {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 2px solid #000;
    img {
        margin-left: 15px;
        max-width: 40%;
    }
    #buscar {
        padding-left: 15%;
        padding-bottom: 1%;
        width: 80%;
        display: flex;
        span {
            width: auto;
            padding: 7px;
            background-color: #504d4d;
        }
        input#campo1 {
            margin: 0;
            padding: 0;
            width: 70%;
            height: 35px;
        }
        >h3 {
            margin-left: 15px;
            width: auto;
            a {
                text-decoration: none;
                color: #9c9999;
            }
        }
    }
}

#usuario {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.849);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    justify-content: center;
    .logo {
        display: flex;
        justify-content: center;
        img {
            align-items: center;
            width: 30%;
        }
    }
    .usuario {
        display: flex;
        justify-content: center;
        flex-direction: column;
        div {
            display: flex;
            width: 100%;
            padding-bottom: 25px;
            h2 {
                margin-right: 10%;
                margin-left: 10%;
                text-align: center;
                width: 30%;
            }
            input {
                margin-left: 10%;
                width: 30%;
                margin-right: 10%;
            }
        }
    }
    div.botones {
        display: flex;
        width: 100%;
        flex-direction: column;
        input {
            width: 30%;
            margin: 15px 35% 0 35%;
        }
    }
}

#qa {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.849);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    justify-content: center;
    .logo {
        display: flex;
        justify-content: center;
        img {
            align-items: center;
            width: 30%;
        }
    }
    .preguntas {
        display: flex;
        justify-content: center;
        flex-direction: column;
        div {
            display: flex;
            width: 100%;
            padding-bottom: 25px;
            h2 {
                margin-left: 10%;
                text-align: center;
                width: 30%;
                margin-right: 10%;
            }
            input {
                margin-left: 10%;
                width: 30%;
                margin-right: 10%;
            }
        }
    }
    div.botones {
        display: flex;
        width: 100%;
        flex-direction: column;
        input {
            width: 30%;
            margin: 15px 35% 0 35%;
        }
    }
}

#lateral {
    .lateral {
        display: none;
        border-right: 2px solid #000;
        width: 15%;
        h3 {
            padding: 15px 30px;
        }
        ul {
            padding: 0px 45px;
            list-style: none;
            font-size: larger;
            li {
                padding-bottom: 10px;
                a {
                    text-decoration: none;
                    color: #f0f0f0;
                }
            }
        }
    }
    .filtro {
        cursor: pointer;
    }
    #resultado1 {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        >div {
            width: 97%;
            margin: 1.5%;
        }
        div {
            text-decoration: none;
            text-align: center;
            img {
                max-width: 70%;
            }
            .nombre {
                color: wheat;
            }
            .dinero {
                color: wheat;
            }
        }
    }
}

#info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    #infoProd {
        width: 95%;
        margin: 2.5%;
        .text {
            margin-top: 0%;
            margin: 0 0% 5% 0%;
            text-align: center;
            font-size: xx-large;
            text-transform: capitalize;
        }
        .money {
            padding-top: 5%;
            margin: 10% 8% 5% 0%;
            text-align: right;
        }
        #discount {
            width: 45%;
            margin-right: 10px;
        }
        .desc {
            text-align: right;
            margin: 15% 8% 5% 0%;
        }
        #money {
            margin-top: 15%;
            border-top: 1px solid #f9f9f9;
            text-align: right;
            padding-top: 5px;
        }
        #divVenta {
            text-align: center;
            color: #353333;
            background-color: #fff;
            border-radius: 15px;
            margin-top: 20%;
            cursor: pointer;
            padding: 5px 0;
            box-shadow: 7px 5px 12px -5px #c8c7c18c;
        }
    }
    div {
        img {
            max-width: 100%;
        }
    }
}

@media only screen and (min-width: 426px) {
    #control1 {
        img {
            margin-left: 5%;
            max-width: 20%;
        }
        #buscar {
            width: 75%;
        }
    }
    #lateral {
        #resultado1 {
            >div {
                width: 48%;
                margin: 1%;
            }
        }
    }
    #info {
        #infoProd {
            width: 95%;
            margin: 2.5%;
            margin-left: 10%;
            margin-right: 10%;
            .text {
                margin-top: 0%;
                margin: 0 0% 3% 0%;
            }
            .money {
                padding-top: 0%;
                margin: 2% 0% 2% 0%;
                text-align: center;
            }
            #discount {
                width: 30%;
                margin-right: 20%;
            }
            .desc {
                margin: 5% 8% 5% 0%;
            }
            #money {
                margin-top: 3%;
                padding-top: 5px;
            }
            #divVenta {
                margin-top: 7.5%;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    #info {
        #infoProd {
            width: 20%;
            margin: 2.5%;
            .text {
                margin-top: 0%;
                margin: 0 8% 5% 0%;
            }
            .money {
                padding-top: 5%;
                margin: 10% 8% 5% 0%;
            }
            #discount {
                width: 45%;
                margin-right: 10px;
            }
            .desc {
                margin: 15% 8% 5% 0%;
            }
            #money {
                margin-top: 15%;
                padding-top: 5px;
            }
            #divVenta {
                border-radius: 15px;
                margin-top: 50%;
            }
        }
         :last-child() {
            width: 75%;
            margin: 2.5%;
        }
    }
    #lateral {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .lateral {
            display: block;
        }
        #resultado1 {
            width: 85%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            >div {
                width: 22%;
                margin: 1.5%;
            }
            div {
                text-decoration: none;
                img {
                    max-width: 100%;
                }
                .nombre {
                    color: wheat;
                }
                .dinero {
                    color: wheat;
                }
            }
        }
    }
}